main {
  border: 10px solid #4285f4;
  color: white;
  width: 300px;
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 24px;
}
.north {
  background: #E67676;
  padding: 40px;
  margin: 0px;
  }
.east {
  background: #F2F062;
  padding: 40px;
  margin: 0px;
}
.south {
  background: #A9E6E6;
  padding: 40px;
  margin: 0px;
}
.west {
  background: #7692E4;
  padding: 40px;
  margin: 0px;
}